@charset "utf-8";

.first-view{
  height: calc(100vh - 110px);
  background-image: url(../images/main_visual.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-top: 100px;
  display: flex;
  align-items: center;
}

.first-view-text{
  width: 100%;
  max-width: 2000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10%;
  padding-bottom: 80px;
  color: #ffffff;
  font-weight: bold;
}

.first-view-text h1{
  font-size: 120px;
  line-height: 1.3;
}

.first-view-text p{
  font-size: 20px;
  margin-top: 15px;
  line-height: 1.2;
}

.lead{
  max-width: 2000px;
  margin: 60px auto 60px auto;
}

.lead p{
  text-align: center;
  line-height: 1.8;
}

.link-button-area{
  text-align: center;
  margin-top: 40px;
}

.link-button{
  color: #000000;
  background-color: #fff100;
  display: inline-block;
  min-width: 160px;
  line-height: 50px;
}

.link-button:hover{
  background-color: #e4e40ac6;
}

@media (max-width: 767px){

  .first-view{
    margin-top: 0px;
    height: calc(100vh - 60px);
    /* align-items: flex-start; */
  }

  .first-view-text{
    padding-top: 60px;
    padding-left: 20px;
  }

  .first-view-text h1{
    font-size: 42px;
    line-height: 1.3;
  }

  .first-view-text p{
    font-size: 14px;
    margin-top: 15px;
    line-height: 1.6;
  }

  .lead{
    padding-left: 15px;
    padding-right: 15px;
  }

  .lead p{
    text-align: left;
  }
}