@charset "utf-8";

*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

body{
    /* フォント */
    font-family: sans-serif;
    font-size: 16px;
    color: #ffffff;
    line-height: 1;
    background-color: #000000;
}

img{
    max-width: 100%;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #000000;
    height: 90px;
    z-index: 10;
}

.header-inner{
    max-width: 2000px;
    height: 110px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header-logo{
    display: block;
    width: 400px;
}

.toggle-menu-button{
    display: none;
}

.site-menu ul {
    display: flex;
}

.site-menu ul li{
    margin-left: 10px;
    margin-right: 10px;
}

.site-menu ul li a {
    font-family: "M PLUS 1", sans-serif;
    font-weight: bold;
}

.footer{
    color: #ffffff;
    background-color: #000000;
    padding-top: 20px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sns-button{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}

.sns-button li{
    display: flex;
    width: 30px;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
}

.copyright{
    font-size: 17px;
    font-weight: bold;
    margin-top: 60px;
}

@media (max-width: 767px){

    .site-menu ul{
        display: block;
        text-align: center;
    }

    .site-menu li{
        margin-top: 20px;
    }

    .header-inner{
        padding-left: 20px;
        padding-right: 20px;
        height: 100%;
        position: relative;
    }

    .header{
        height: 60px;
    }

    .header-logo{
        width: 190px;
    }

    .header-site-menu{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        color: #000000;
        background-color: #fff100;
        padding-top: 20px;
        padding-bottom: 30px;
        display: none;
    }

    .header-site-menu.is-show{
        display: block;
    }

    .toggle-menu-button{
        display: block;
        width: 40px;
        height: 40px;
        background-image: url(../images/menu.png);
        background-size: 30px;
        background-position: center;
        background-repeat: no-repeat;
        background-color: transparent;
        border: none;
        border-radius: 0;
        outline: none;
    }

    .main{
        padding-top: 50px;
    }

    .footer-logo{
        margin-top: 60px;
    }

    .copyright{
        margin-top: 50px;
    }
}